
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.zw {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.zz-jy-k2 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:2em;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.lm {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:4em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.zw-bt1 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"圆体";
	font-size:2.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
    border-bottom:solid #d26900 1px;
    padding-bottom:0.4em;
}
p.zw-zz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"圆体";
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.zw-xgsj2 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:2em;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:-2em;
}
p.zw-sj2 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:2em;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.jz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.note {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.jz-ht {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
span.kt {
	font-family:"楷体";
	font-style:normal;
	font-weight:normal;
}
span.ht {
	font-family:"黑体";
	font-style:normal;
	font-weight:normal;
}
span.fs {
	font-family:"仿宋";
	font-style:normal;
	font-weight:normal;
}
span.ht-2 {
	font-family:"黑体";
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-1 {
	font-family:"宋体";
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	vertical-align:super;
}
span.char-style-override-3 {
	font-family:"宋体";
	font-size:0.5em;
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	height:239px;
	width:310px;
}
img.frame-2 {
	height:432px;
	width:308px;
}
img.frame-3 {
	height:36px;
	width:303px;
}
img.frame-4 {
	height:188px;
	width:231px;
}
img.frame-5 {
	height:342px;
	width:527px;
}
