
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.x---- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"FZShuSong-Z01", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.body {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h1 {
	-epub-ruby-position:over;
	color:#d26900;
	font-family:"黑体";
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
    border-bottom:solid #d26900 1px;
    padding-bottom:0.2em;
}
p.h2 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:1.5em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.note {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.lingmian {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"FZShuSong-Z01", serif;
	font-size:5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.body-JY-writer {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-top:0.3em;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.body-JY-writer-kt {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-top:0.3em;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.body-qianyan {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h0 {
	-epub-ruby-position:over;
	color:#0000ff;
	font-family:"FZLanTingHei-R-GBK", sans-serif;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.body-jieshao-jz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:0;
	margin-bottom:0;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.nw-bt-jz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1.1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.body-SJ-kt {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:0.8em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:2em;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.nw-jz-zz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.nw-jz-kt {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.nw-bt2-jz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.body-SJ-kt-zz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.h2a {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:1.5em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.TB-jz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.h21 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.3em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0.5em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
span.E-xt {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-1 {
	vertical-align:super;
   font-size:0.8em;
}
span.char-style-override-2 {
	font-size:30px;
}
span.char-style-override-3 {
	font-family:"宋体", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	font-size:0.583em;
	vertical-align:super;
}
img.frame-1 {
	height:110px;
	width:396px;
}
img.frame-2 {
	height:83px;
	width:396px;
}
img.frame-3 {
	height:92px;
	width:368px;
}
img.frame-4 {
	height:25px;
	width:50px;
}
img.frame-5 {
	height:25px;
	width:147px;
}
img.frame-6 {
	height:24px;
	width:43px;
}
img.frame-7 {
	height:64px;
	width:314px;
}
img.frame-8 {
	height:27px;
	width:64px;
}
img.frame-9 {
	height:1em;

}