
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.x---- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Adobe Song Std L", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.text {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h1 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"圆体";
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:2em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
    border-bottom:solid #000000 1px;
    padding-bottom:0.2em;
}
p.h11 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"圆体";
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0em;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
    border-bottom:solid #000000 1px;
    padding-bottom:0.2em;
}
p.h1a {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.write {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.text-FS {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.note {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.h2 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1.15em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.writexiao {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0em;
}
p.h3 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0.5em;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.H4 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.lingmian {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"FZShuSong-Z01", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:24px;
}
p.text-KS {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h1b0 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"圆体";
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:2em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
    border-bottom:solid #000000 1px;
    padding-bottom:0.2em;
}
p.h2-F {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:2em;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.H4-F {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.H4-K {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:0.95em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
span.xbs {
	color:#ff00ff;
	font-family:"黑体";
	font-style:normal;
	font-weight:normal;
}
span.H {
	font-family:"黑体";
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-1 {
	text-indent:0px;
}
p.para-style-override-2 {
	text-align:right;
}
p.para-style-override-3 {
	text-align:center;
}
span.char-style-override-1 {
	text-decoration:underline;
}
span.char-style-override-2 {
	vertical-align:super;
}
span.char-style-override-3 {
	font-family:"宋体", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	font-family:"宋体";
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	height:271px;
	width:461px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
