
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.x---- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}

p.zw-st {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.st-16 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.st-24 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ht-16 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ht-12 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.lingmian {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.kt16 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.kt-12-jz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.st-14-jz {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.kt-12-shsj {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.qy {
	-epub-ruby-position:over;
	color:#d26900;
	font-family:"宋体";
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
    border-bottom:#d26900 2px solid;
    padding-bottom:0.3em;
}
p.kt-12-jy {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.fs-12-shsj {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"仿宋";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.st-12-jy {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.jiaozhu {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.h1 {
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"宋体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.286;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
background-color:#c6c8ca;
width:3.3em;
}
p.zhangming {
	-epub-ruby-position:over;
	color:#d26900;
	font-family:"楷体";
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
    border-bottom:solid #d26900 1px;
    padding-bottom:0.2em;
}
p.h2 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"仿宋";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.h3 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.h4 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"楷体";
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.anli {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:2em;
}
p.jy {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"黑体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.jy-h1 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.ckwx {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.hj {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"宋体";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.h2-fuben {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"仿宋";
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.qy-fb {
	-epub-ruby-position:over;
	color:#d26900;
	font-family:"宋体";
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
    border-bottom:#d26900 2px solid;
    padding-bottom:0.3em;
}
span.ywxt {
	font-family:"Times New Roman", serif;
	font-size:0.833em;
	font-style:italic;
	font-weight:normal;
}
span.kt {
	font-family:"KaiTi_GB2312", serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-1 {
	vertical-align:super;
}
span.char-style-override-2 {
	font-family:STFangsong;
	font-size:0.857em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-family:SimSun;
	font-size:0.857em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	font-size:1.2em;
}
span.char-style-override-5 {
	font-size:1em;
}
span.char-style-override-6 {
	font-family:SimSun, serif;
	font-size:0.833em;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	font-family:SimSun, serif;
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-2 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-3 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-4 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-5 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-6 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-7 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-8 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-9 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-10 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-11 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-12 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-13 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-14 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-15 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-16 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-17 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-18 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-19 {
	height:1.2em;
	vertical-align:middle；
}
img.frame-20 {
	height:1.2em;
	vertical-align:middle；
}
